<%= flash_messages %>


<table class="table table-striped table-bordered ">
   <thead class="thead-inverse">
    <tr>
      <th>Staff ID</th>
      <th>Staff Name</th>
      <th>Form</th>
      <th>Level</th>
      <th>Day Handle</th> 
      <th></th>
    </tr>
  </thead>


  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.user.try(:iduser) %></td>
        <td><%= task.user.try(:username) %></td>
        <td><%= link_to (task.form.try(:formname)) ,  dashboardstaff_index_path(:form => task.form.id)%></td>
        <td><%= task.level %></td>
        <td><%= task.dayassign %></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>
<hr>

