<%= link_to 'Edit', edit_assignment_path(@assignment),  class: "btn btn-warning"  %> |
<%= link_to 'Back', dashboardstaff_showassignment_path , class: "btn btn-primary" %>

  <table class="table table-bordered">
    <tr>
      <th>Accept:</th>
      <td><%= @assignment.accept %></td>
    </tr>

    <tr>
      <th>Location:</th>
      <td><%= @assignment.location %></td>
    </tr>

      <tr>
      <th>Status:</th>
      <td><%= @assignment.status %></td>
    </tr>

    <tr>
      <th>Datecomplete:</th>
      <td><%=@assignment.datecomplete%></td>
    </tr>
    <tr>
      <th>Serial No:</th>
      <td><%= @assignment.document_task.document.try(:serialno) %></td>
    </tr>
    

  </table>