<p id="notice"><%= notice %></p>

<p>
  <strong>Accept:</strong>
  <%= @assignment.accept %>
</p>

<p>
  <strong>Location:</strong>
  <%= @assignment.location %>
</p>

<p>
  <strong>Status:</strong>
  <%= @assignment.status %>
</p>

<p>
  <strong>Datecomplete:</strong>
  <%= @assignment.datecomplete %>
</p>

<p>
  <strong>Document task:</strong>
  <%= @assignment.document_task %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
