<%= flash_messages %>


  <table class="table table-bordered">
    <tr>
      <th>Serialno</th>
      <td><%= @document.serialno %></td>
    </tr>

    <tr>
      <th>Title</th>
      <td><%= @document.title %></td>
    </tr>

    <tr>
      <th>Attachment</th>
       <td><%= @document.attachment %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @document.desc %></td>
    </tr>

    <tr>
      <th>Form</th>
      <td><%= @document.form.try(:formname)%></td>
    </tr>
    <tr>
      <th>Date Submit</th>
      <td><%= @document.datesubmit %></td>
    </tr>
    <tr>
      <th>ID user </th>
        <td><%= @document.user.try(:iduser) %></td>
    </tr>

  </table>

  <h5> Print this detail for your references </h5>

<p id="pdf_link"><%= link_to "Download Document (PDF)", document_path(@document, :format => "pdf") %></p>
