<%= flash_messages %>


<h1><u>Forms</u></h1>

<table class="table table-striped table-bordered ">
   <thead class="thead-inverse">
    <tr>
      <th>Form ID</th>
      <th>Form Name</th>
      <th>Attachment</th>
      <th><% if can? :manage, Form %>Options<%end%></th>
    </tr>
  </thead>

  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <td><%= form.formid %></td>
        <td><%= form.formname %></td>
       <td><%= link_to "Download Document", form.attachment_url %></td>
        <td><% if can? :manage, Form %>
        <%= link_to 'Edit', edit_form_path(form) , class: "btn  btn-warning"  %>
        <%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger" %>
        <%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :manage, Form %><%= link_to 'New Form', new_form_path ,class: "btn btn-primary"%><% end %>
