<%= flash_messages %>


<h1>Forms</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Formid</th>
      <th>Formname</th>
      <th>Details</th>
      <th>Processingday</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <td><%= form.formid %></td>
        <td><%= form.formname %></td>
        <td><%= form.details %></td>
        <td><%= form.processingday %></td>
        <td><%= link_to 'Show', form , class: "btn btn-info" %>
        <%= link_to 'Edit', edit_form_path(form) , class: "btn  btn-warning"  %>
        <%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Form', new_form_path %>
