<%= flash_messages %>


<h1>Forms</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Form ID</th>
      <th>Form Name</th>
      <th>Attachment</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <td><%= form.formid %></td>
        <td><%= form.formname %></td>
       <td><%= link_to "Download Document", form.attachment_url %></td>
        <td>
        <%= link_to 'Edit', edit_form_path(form) , class: "btn  btn-warning"  %>
        <%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Form', new_form_path ,class: "btn btn-primary"%>
