<div id="sidebar-wrapper">
<ul class="sidebar-nav">
<li class="sidebar-brand">
<a href="#">
<% if user_signed_in? %>
Hi,<%= current_user.username %>
<%end %>
</a>
</li>

<li>
	<% unless current_user.try(:admin?) || current_user.try(:staffhep?) %>
	<%= link_to 'Submit Document', new_document_path %>
	<% end %>
</li>

<li>
	<% unless current_user.try(:admin?) || current_user.try(:staffhep?) %>
	<%= link_to 'Previous Document Submitted', documents_path %>
	<% end %>
</li>

<li>
	<% unless current_user.try(:admin?) || current_user.try(:staffhep?) %>
	<%= link_to 'Track Document',documents_trackdoc_path%>
	<% end %>
</li>

<li>
	<% if current_user.try(:admin?) %>
	<%= link_to "List of Form", forms_path  %>
	<% end %> 
</li>

<li>
	<% if current_user.try(:admin?) %>
	<%= link_to "List of Document Submitted", documents_path  %>
	<% end %> 
</li>


<li>
	<% if current_user.try(:admin?) %>
 	<%= link_to 'Assign Task', tasks_path %>
	<% end %>
</li>

<li>
	<% if current_user.try(:admin?) %>
 	<%= link_to 'Total Days assign', tasks_calculatedayassign_path %>
	<% end %>
</li>

<li>
	<% if current_user.try(:staffhep?) %>
 	<%= link_to 'Task', dashboardstaff_homestaff_path%>
	<% end %>
</li>
<li>
	<% if current_user.try(:staffhep?) %>
 	<%= link_to 'Document handle', dashboardstaff_index_path%>
	<% end %>
</li>


</ul>
</div>